// Vue transition
.card-list-enter-active,
.card-list-leave-active {
  transition: all 0.5s ease;
}

.card-list-enter,
.card-list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.card-list-move {
  transition: transform 0.8s ease;
}

// Img preloader animation
.card-img__preloader {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 /1;
  background-color: #dcdcdcff;
  overflow: hidden;
  &:before {
    content: "";
    width: 0;
    height: 100%;
    box-shadow: 1px 1px 45px 41px rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    animation: img-loading-animation 2s cubic-bezier(0, 0, 1, 1.01) infinite;
  }
}

@keyframes img-loading-animation {
  0% {
    left: -30%;
  }
  15% {
    left: 0;
  }
  30% {
    left: 30%;
  }
  60% {
    left: 60%;
  }
  80% {
    left: 90%;
  }
  100% {
    left: 130%;
  }
}
