input,
textarea {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 16px;
  background: $primary;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  &::placeholder {
    color: $grey;
  }
  &:focus {
    border: 1px solid $grey;
  }
}

.input-row {
  position: relative;
  margin-bottom: 16px;
  &.price-input {
    margin-bottom: 0;
  }
  .title {
    font-size: 10px;
    line-height: 13px;
    span {
      position: relative;
    }
  }
  &.input-required {
    .title {
      span {
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 4px;
          height: 4px;
          background-color: $red;
          border-radius: 50%;
          top: 0px;
          right: -5px;
        }
      }
    }
  }
  &.input-error {
    input {
      border: 1px solid $red;
    }
    .error-text {
      display: block;
    }
  }
  .title {
    display: block;
    margin-bottom: 4px;
  }
  .error-text {
    display: none;
    position: absolute;
    color: $red;
    font-size: 8px;
    line-height: 10px;
    bottom: -14px;
  }
}

textarea {
  height: 108px;
  resize: none;
}
